.components--divs {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 2rem;
  background: #aaa;
}

.limit--size{
  max-height: 200px;
}

button, input{
  margin: 5px 0;
}